.icon-mail {
  display: inline-block;
  fill: currentColor;
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
}

.icon-smartphone {
  display: inline-block;
  fill: currentColor;
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
}
