.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list .list {
  color: $secondary-text-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
