.header__link {
  color: $title-text-color;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.header__link--current {
  color: $main-color;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
